Temp
/*.csproj
/*.pidb
/*.unityproj
/*.sln
/*.userprefs
Library
*.bin
*.bin.meta
/*.DotSettings
AssetBundles
*.apk
obj
UnityVS.NetworkConnect.v12.suo
UnityVS.CaiShenYeMenu.v12.suo
UnityVS.NetworkConnect.suo
NetworkConnect-csharp.suo
UnityVS
.vs
Build/log.txt
Build/__pycache__/base.cpython-35.pyc
Build/local.properties
local.properties
Build/__pycache__/
ErrorLog
*.unitypackage
PersistentPath
StreamingAssets
Build
